#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}


/* Portfolio Card Styles */
.portfolio-grid {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  align-items: center;
  margin: 5px;
}

.card-image {
  width: 100%; /* Set this to whatever size you need */
  max-width: 150px; /* Optional: Limit the size if needed */
  height: auto; /* Maintain aspect ratio */
  margin: 2px;
  padding: 2px;
  border-radius: 8px; /* Optional: Adds rounded corners */
  object-fit: cover; /* Ensures the image fills the space properly */
  border: 1px solid rgb(94, 92, 92); /* 1px black border */
  /* Add shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal, Vertical, Blur, Shadow Color */
  border-radius: 8px; /* Optional: Adds rounded corners */
  transition: transform 0.3s ease-in-out; /* Optional: Adds animation when hovering */
}

.card-image:hover {
  /* Optional: Add a scaling effect on hover */
  transform: scale(1.05); /* Slightly enlarge the image when hovered */
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}